<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Tests/bootstrap.php" colors="true">
    <php>
      <env name="XDEBUG_MODE" value="coverage"/>
      <ini name="xdebug.mode" value="coverage"/>
    </php>
    <php>
        <var name="db_dsn" value="mysql:dbname=ecs_degreeaudit;host=127.0.0.1"/>
        <var name="db_username" value="root"/>
        <var name="db_password" value=""/>
    </php>

    <testsuites>
        <testsuite name="PHPTests">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
